
#red{
    
    
}
#hwhite{
    background-color: white;
    width: 200px;
    height: 500px;
    align-items: center;
    margin: auto;

}
#vwhite{
    background-color: yellow;
    width: 500px;
    height: 100px;
}