#search {
    padding: 5px;
    background-color: rgb(211, 241, 253);
    border-radius: 10px;
    border-color: aqua;
    width: 120px;
    

}
#CreateAcc{
    padding: 5px;
    width: 140px;
    background-color: rgb(80, 80, 238);
    text-align: center;
    color: aliceblue;
    box-shadow: inset 0 -3em 3em rgba(0,0 ,0 , .1),
                        0 0 0 2px rgb(27, 21, 21),
                        0.3em 0.3em 1em rgba(0,0 ,0 , .3)
                       ;

}
#plus{
    width: 40px;
    height: 40px;
    font-size: 30px;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: aqua;

}
.button:hover{
    background-color: aqua;
    color: brown;
}