<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hey there {{user_info.F_name}} {{user_info.L_name}}</h1>
    <h1>All TV Shows</h1>






    <table class="table">
        <thead>
            <tr>

                <th scope="col">Title</th>
                <th scope="col">Network</th>
                <th scope="col">Release Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {%for i in allShow%}
            <tr>


                <td>{{i.title}}</td>
                <td>{{i.network}}</td>
                <td>{{i.created_at }}</td>
                <td>
                    <!-- #======================Step 7============================= -->
                    <a href="/{{i.id}}/show" class="show" title="Show">Show</a> {{user_info.id}} {{i.user_id}}
                    <br>
                    <br> {% if user_info.id == i.user_id%}

                    <a href="{{i.id}}/edit" class="edit" title="Edit">Edit</a>
                    <a href="/{{i.id}}/delete" class="delete" title="Delete">Delete</a> {%endif%}

                </td>
            </tr>

            {%endfor%}

        </tbody>
    </table>

    <!--  #======================Step 7============================= 
        base don whatever option we pick-->
    <a href="/addShows/{{user_info.id}}" class="Addshow" title="AddShow">Add a Show</a>

</body>

</html>