<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- user_id = user_id, show_id  -->

    <form action="/show_id/editYourShow" method="post">

        <label for="title">Title: </label>
        <input class="form-control" type="text" name="title">
        <br>
        <label for="network">Network:</label>
        <input class="form-control" type="text" name="network">
        <br>
        <label for="released">Released Date:</label>
        <input class="form-control" type="date" name="released">
        <br>
        <label for="description">Description:</label>
        <textarea rows="3" class="form-control" type="text" name="description"></textarea>
        <br>
        <br>
        <input class="btn btn-outline-dark" type="submit" value="Add">
    </form>






    </form>
</body>

</html>