<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- user_id = user_id, show_id  -->
    <div>
        <a href="/logout">Logout</a>
    </div>

    <form action="/{{info.id}}/editYourShow" method="post">

        <label for="title">Title: </label>
        <input class="form-control" type="text" name="title" value="{{info.title}}">
        <br>
        <label for="network">Network:</label>
        <input class="form-control" type="text" name="network" value="{{info.network}}">
        <br>
        <br>
        <label for="released ">Released Date:</label>
        <input class="form-control " type="date " name="released" value="{{info.created_at}}">
        <br>
        <label for="description ">Description:</label>
        <textarea rows="3 " class="form-control " type="text " name="description">{{info.description}}</textarea>
        <br>
        <br>
        <input class="btn btn-outline-dark " type="submit" value="Add">
    </form>






    </form>
</body>

</html>