<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <a href="/logout">Logout</a>
    </div>
    <a href="/Dashboard" class="show" title="Show">Dashboard</a>

    <p>

    </p>



    {%for i in showThis%}
    <p>{{i}}</p>
    <p>
        {{i.title}}
    </p>
    <p>
        {{i.network}}
    </p>
    <p>
        {{i.created_at}}
    </p>
    <p>
        hiii {{i.description}}

    </p>
    <P>
        <h3>Posted by</h3> {{i.user.F_name}}
    </P>

    {%endfor%}
</body>

</html>