<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Here are our Users!</h1>


    <!-- {%for each_user in get_all%} -->

    <!-- <p>
        <a href="/{{each_user.id}} ">{{each_user.first_name}}</a>
    </p>
    <p><a href="/new_user ">To The New User</a></p>
    <p>{{each_user.first_name}}</p>
    <p>{{each_user.last_name}}</p>
    <p>{{each_user.email}}</p>
    <p>===========================</p>
    {% endfor %} -->
</body>

</html>