* {
    font-family: 'Antonio', sans-serif;
    color:rgb(221, 221, 240);
}
body {
    background-color: black;
    padding: 20px;
}

.nav{
    display: flex;
    margin: 10px 0px;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 300px;
    
}
#manyButts{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.btn{
    width: 300px;
    background-color: black;
    border-color: ghostwhite;
    text-align: center;
    width: 150px;
    border-radius: 5px;
}