* {
    font-family: 'Antonio', sans-serif;
    color:ghostwhite;
}

body {
    background-color: black;
    padding: 20px;
}

.EntireCard{
    
    margin: 50px;
    width: 600px;
    border: solid;
}
.box{
    
    background-color: aqua;
    height: 100px;
    width: 600px;

}
img{
    width: 80px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 45px;
    height: 80px;
    object-fit: cover;
    
    
}
.box2{
    /* position: absolute; */
    background-color: white;
    height: 250px;
    width: 600px;
    

}
h2{
    padding: 35px;
    margin: 0px;
    color: black;
}
#SecondHalf{
    display: flex;
}
.box2 img{
    padding: 5px;
    margin: 0px;
    width: 40px;
    height: 40px;
    display: flex;
}


h3{
    padding: 5px;
    margin: 0px;
    color: black;

}
.lastPortion img, p{
    text-decoration: underline;
    display: flex;
}