<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    <!-- declare a variable called messages -->
    {% if messages %}
    <!-- check if there are any messages -->
    {% for message in messages %}
    <!-- loop through the messages -->
    <p>{{message}}</p>
    <!-- display each message in a paragraph tag -->
    {% endfor %} {% endif %} {% endwith %} {{user_info.F_name}}
    <div>
        <a href="/Dashboard">Dashboard</a>
    </div>
    <div>
        <a href="/logout">Logout</a>
    </div>

    <h1>Add a painting</h1>

    <form action="/create_paint" method="post">

        <label for="title">Title:</label>
        <input class="form-control" type="text" name="title">
        <br>

        <br>
        <label for="description">Description:</label>
        <textarea rows="3" class="form-control" type="text" name="description"></textarea>
        <br>

        <label for="price">Price:</label>
        <input class="form-control" type="number" min="1" name="price">
        <br>



        <br>
        <input class="btn btn-outline-dark" type="submit" value="Add">
    </form>


</body>

</html>