<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <a href="/addPainting" class="Addshow" title="AddShow">Add Painting</a>
    </div>
    <div>
        <a href="/logout">Logout</a>
    </div>
    <a href="/Dashboard" class="show" title="Show">Dashboard</a>

    <p>

    </p>



    {%for i in showThis%}

    <p>
        <h1>{{i.title}}</h1>
    </p>
    <P>
        painted by {{i.users_info.first_name}} {{i.users_info.last_name}}
    </P>


    <p>
        Description: {{i.description}}

    </p>
    <p>
        Price: {{i.price}}
    </p>

    {%endfor%}

    <div>
        <a href="/{{showThis.id}}/buy">Buy</a>
    </div>

    <!-- <a href="/BuyCar/"></a> -->
</body>

</html>