* {
    font-family: 'Antonio', sans-serif;
    color:ghostwhite;
}

body {
    background-color: black;
    padding: 20px;
}

.EntireClass{
    
    margin: 50px;
    height: 400px;
    width: 600px;
    border: solid;
    display: flex;
}
.box{
    
    background-color: aqua;
    height: 100px;
    width: 600px;

}
img{
    width: 80px;
    border-radius: 85%;
    margin-top: 50px;
    margin-left: 45px;
    
    
}
.box2{
    position: absolute;
    background-color: white;
    height: 250px;
    width: 600px;

}
h2{
    margin-left: 45px;
    color: black;
    margin-top: 300px;
    z-index: 1;
}