* {
    font-family: 'Antonio', sans-serif;
    color:rgb(221, 221, 240);
}
body {
    background-color: white;
    padding: 20px;
}

.nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    list-style-type: none;
    /* justify-content: space-between; */
    width: 400px;
    height: 100%;
    
}
#manyButts{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 300px;
    align-items: center;
}
ul li{
    opacity: .75;
}
ul li:hover{
    opacity: 1;
    color: yellow;
}
.btn{
    width: 300px;
    background-color: rgb(74, 89, 231);
    border-color: ghostwhite;
    text-align: center;
    width: 150px;
    border-radius: 5px; 
}
.TheBody{
    margin: 5px 0px;
    display: flex;
    background-color: ghostwhite;
    border: solid;
}
#blueBox{
    background-color:aqua;
    height: 200px;
    width: 600px;
}
