<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    <!-- declare a variable called messages -->
    {% if messages %}
    <!-- check if there are any messages -->
    {% for message in messages %}
    <!-- loop through the messages -->
    <p>{{message}}</p>
    <!-- display each message in a paragraph tag -->
    {% endfor %} {% endif %} {% endwith %} {{user_info.F_name}}
    <div>
        <a href="/logout">Logout</a>
    </div>

    <h1>Put Car Up For Sale</h1>

    <form action="/create_car" method="post">

        <label for="price">Price:</label>
        <input class="form-control" type="number" min="1" name="price">
        <br>
        <label for="model">Model:</label>
        <input class="form-control" type="text" name="model">
        <br>
        <br>
        <label for="make">Make:</label>
        <input class="form-control" type="text" name="make">
        <br>
        <label for="year">Year:</label>
        <input class="form-control" type="number" placeholder="YYYY" min="0001" max="9999" name="year">
        <br>
        <label for="description">Description:</label>
        <textarea rows="3" class="form-control" type="text" name="description"></textarea>
        <br>
        <br>
        <input class="btn btn-outline-dark" type="submit" value="Add">
    </form>


</body>

</html>