
#container{
    padding: 50px 180px;
    display: flex;
    justify-content: space-around;
}

.btn-secondary{
    margin-left: 190px;
}


.right{
    width: 300px;
}

.left, .right{
    background-color: rgb(115, 140, 187);
    padding: 10px 50px;
    text-align: center;
    height: 300px;
    border-radius: 20px;

}