<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello</h1>
    <h1>welcome: {{user.first_name}} {{user.last_name}}</h1>
    <a href="/">home</a>
    <a href="makeTeam">Make a team</a>
    <a href="updateTeam">Update a Team</a>
    <a href="makeOwner">Make an Owner</a>

    <br>
    <br> {% for i in all_teams%}
    <p>
        {{i.name}} {{i.location}} {{i.sports}} {{i.champs}}
    </p>
    {%endfor%}

    <br>
    <h4>Owners:</h4>
    <br> {% for i in all_owners%}
    <p>
        <a href="/owner/{{i.id}}">{{i.first_name}} </a>{{i.last_name}}
        <a href="/delete/{{i.id}}">Delete</a>
        <a href="/update/{{i.id}}">Update</a>
    </p>
    {%endfor%}
</body>


</html>